body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/*Navbar*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(181, 181, 181);
  padding: 10px 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

nav .left ul {
  display: flex;
  align-items: center;
  margin-left: 3px;
  margin: 0;
  padding: 0;
}

nav .left ul img {
  margin-right: 40px;
}

nav .right a {
  text-decoration: none;
  background-color: orangered;
  padding: 8px 20px;
  border-radius: 10px;
  color: white;
  align-items: center;
}

nav .right a:hover {
  background-color: rgb(196, 59, 10);
}

nav .left ul {
  list-style: none;
}

nav .left ul li a {
  text-decoration: none;
  color: rgb(37, 37, 37);
  margin-right: 40px;
  font-size: 16px;
  font-weight: 500;
}

nav .left ul li a:hover {
  color: orangered;
  font-size: 20px;
}

nav .hamburger {
  display: none;
}

#hamburger-bars-items {
  display: none;
  margin-top: -30px;
  position: fixed;
  width: 100%;
}

#hamburger-bars-items a {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.589);
  color: white;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px;
}

/* BLOG */
.title {
  text-align: center;
  margin-top: 100px;
  font-size: 17px;
}

.title h1 span {
  color: orangered;
}

#blog-section {
  width: 85%;
  margin: 30px auto;
  border-radius: 20px;
  margin-top: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.blog-img img {
  width: 600px;
  height: 400px;
  margin-right: 50px;
}

.blog-des {
  margin-right: 190px;
}

.blog-des h5 {
  font-size: 20px;
  margin-bottom: -1px;
}

.blog-des-2 {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.blog-des-2 p {
  margin-left: 10px;
}

.paragraf {
  width: 85%;
  margin: 30px auto;
}

/* ADD PROJECT */

.project {
  text-align: center;
  margin-top: 50px;
  font-size: 25px;
  font-weight: bold;
}

.project span {
  color: orangered;
}

form {
  width: 350px;
  margin: 50px auto;
}

form .date {
  display: flex;
  justify-content: space-evenly;
}

form .date input {
  width: 100%;
}
form .date .date-3 {
  padding-left: 40px;
}

.name input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
  margin-top: 5px;
  margin-bottom: 20px;
}

.date2,
.date3,
.descrption,
input,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
  margin-top: 5px;
  margin-bottom: 20px;
}

form label {
  font-weight: 500;
  font-size: 15px;
}

form div button {
  margin-left: 80%;
  background-color: orangered;
  padding: 8px 20px;
  color: white;
  border-radius: 50px;
  border-style: none;
  font-size: 15px;
  cursor: pointer;
}

form .tech {
  display: flex;
  margin-top: 30px;
  margin-bottom: 5px;
  font-weight: 200;
  margin-left: -20px;
}

form .tech label {
  margin-right: 80px;
}

form .tech-2 {
  display: flex;
  margin-bottom: 20px;
  font-weight: 200;
  margin-left: -20px;
}

form .tech-2 label {
  margin-right: 80px;
}

form .input-blog-image-group {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 35px;
  background: #f4f3f3;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  cursor: pointer;
}

form .input-blog-image-group label p {
  font-size: 15px;
  margin-left: 10px;
}

form .input-blog-image-group label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* * Blog list * */

.blog .blog-list {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.blog .blog-list .blog-list-item {
  width: 80%;
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid #dbdbdb;
  border-radius: 8px;
  display: flex;
}

.blog .blog-list .blog-list-item .blog-image {
  flex: 1;
}

.blog .blog-list .blog-list-item .blog-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.blog .blog-list .blog-list-item .blog-content {
  padding-left: 20px;
  flex: 2;
}

.blog .blog-list .btn-group {
  text-align: right;
  margin-bottom: 20px;
}

.blog .blog-list .btn-group .btn-edit {
  padding: 5px 10px;
  border: 0;
  border-radius: 4px;
  background: #dbdbdb;
}

.blog-list .btn-group .btn-post {
  padding: 5px 10px;
  border: 0;
  border-radius: 4px;
  background: #ec4d37;
  color: #fff;
}

.blog-list h1 a {
  text-decoration: none;
  color: #000000;
}

.blog-list .detail-blog-content {
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
}

.blog-list .blog-list-item p {
  margin-top: 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
}

/* RESPONSIVE LAYOUT___________________________________________________________ */

@media screen and (max-width: 850px) {
  #blog-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .blog-img img {
    width: 600px;
    height: 300px;
    margin: auto;
  }

  .title {
    font-size: 13px;
    margin-top: 100px;
  }
}

@media screen and (max-width: 550px) {
  nav {
    padding: 8px 20px;
  }

  nav .left ul li {
    display: none;
  }

  nav .right {
    display: none;
  }

  nav .hamburger {
    display: block;
  }

  /* (BLOG) */

  .title {
    font-size: 13px;
    margin-top: 80px;
  }

  #blog-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .blog-img img {
    width: 300px;
    height: 200px;
    margin: auto;
  }

  .blog-des h5 {
    font-size: 15px;
    margin-bottom: 0px;
  }

  .blog-des-2 p {
    font-size: 13px;
  }

  .paragraf p {
    font-size: 12px;
  }

  /* (FROM) */

  .project {
    font-size: 23px;
  }

  form {
    width: 300px;
  }

  form label {
    font-size: 13px;
  }
}
