body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/*Navbar*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(181, 181, 181);
  padding: 15px 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

nav .left ul {
  display: flex;
  align-items: center;
  margin-left: 3px;
  margin: 0;
  padding: 0;
}

nav .left ul img {
  margin-right: 40px;
}

nav .right a {
  text-decoration: none;
  background-color: orangered;
  padding: 8px 20px;
  border-radius: 10px;
  color: white;
  align-items: center;
}

nav .right a:hover {
  background-color: rgb(196, 59, 10);
}

nav .left ul {
  list-style: none;
}

nav .left ul li a {
  text-decoration: none;
  color: rgb(37, 37, 37);
  margin-right: 20px;
  font-size: 18px;
  font-weight: 500;
}

nav .left ul li a:hover {
  color: orangered;
  font-size: 20px;
}

nav .hamburger {
  display: none;
}

#hamburger-bars-items {
  display: none;
  margin-top: -65px;
  position: fixed;
  width: 100%;
}

#hamburger-bars-items a {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.589);
  color: white;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px;
}

/* #hamburger-bars-items a.active {
  background-color: rgb(192, 132, 53);
} */

/* CONTENT */
#content {
  width: 80%;
  margin: 50px auto;
  background-color: rgb(241, 240, 240);
  border-radius: 20px;
  margin-top: 150px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.content-2 {
  padding: 20px;
  margin-left: 20px;
}

.content-2 h1 p {
  margin-bottom: 50px;
  padding-bottom: 50px;
  margin-top: 100px;
}

.content-2 .btn {
  background-color: black;
  color: white;
  padding: 8px 18px 8px 18px;
  border-radius: 50px;
  font-size: 16px;
  margin-top: 25px;
  margin-bottom: 20px;
  border-style: none;
}

.content-2 a {
  text-decoration: none;
  color: black;
  margin-left: 10px;
}

.icon {
  display: flex;
  gap: 40px;
  margin-top: 30px;
}

.icon .icon-2 {
  padding: 10px;
  border-radius: 50%;
  border: 1px solid black;
}

/* card item */

.card {
  width: 1500px;
  background-color: #c9c8c8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  margin: 40px;
}

.card-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card-title {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.card-description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #666;
}

/* RESPONSIVE LAYOUT ---------------------------------------------------------------*/

@media screen and (max-width: 850px) {
  #content {
    display: block;
    margin-top: 130px;
  }

  .card {
    width: 50%;
    margin-top: -20;
    margin-right: 100;
  }

  #content .content-2 h1 {
    font-size: 23px;
  }

  #content .content-2 p {
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  nav {
    padding: 15px;
  }

  nav .left ul li {
    display: none;
  }

  nav .right {
    display: none;
  }

  nav .hamburger {
    display: block;
  }

  /* Responsive Home */

  #content {
    display: block;
    margin-top: 130px;
  }

  #content .content-2 h1 {
    font-size: 18px;
  }

  #content .content-2 p {
    font-size: 12px;
  }

  .card {
    width: 80%;
    margin-top: -20;
  }

  .content-2 .btn {
    font-size: 13px;
    padding: 5px 15px 5px 15px;
  }

  .content-2 a {
    font-size: 13px;
  }

  .content-2 a svg {
    width: 15px;
    height: 15px;
  }

  .icon {
    gap: 30px;
  }

  .icon .icon-2 {
    width: 10px;
    height: 10px;
    border: none;
  }
  .icon .icon-2 svg {
    padding: 10px;
    border: 1px solid black;
    border-radius: 50%;
  }
}
