body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/*Navbar*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(181, 181, 181);
  padding: 10px 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

nav .left ul {
  display: flex;
  align-items: center;
  margin-left: 3px;
  margin: 0;
  padding: 0;
}

nav .left ul img {
  margin-right: 40px;
}

nav .right a {
  text-decoration: none;
  background-color: orangered;
  padding: 8px 20px;
  border-radius: 10px;
  color: white;
  align-items: center;
}

nav .right a:hover {
  background-color: rgb(196, 59, 10);
}

nav .left ul {
  list-style: none;
}

nav .left ul li a {
  text-decoration: none;
  color: rgb(37, 37, 37);
  margin-right: 40px;
  font-size: 16px;
  font-weight: 500;
}

nav .left ul li a:hover {
  color: orangered;
  font-size: 20px;
}

nav .hamburger {
  display: none;
}

#hamburger-bars-items {
  display: none;
  margin-top: 20px;
  position: fixed;
  width: 100%;
}

#hamburger-bars-items a {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.589);
  color: white;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px;
}

/* TESTI */
.container {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.container h1 span {
  color: orangered;
}

.container-rating h2 {
  font-weight: 500;
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}

.testimonial {
  width: 25%;
  margin: 0 15px 30px 15px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.testimonial img {
  height: 200px;
  object-fit: cover;
}

.quote {
  font-size: 16px;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 15px;
}

.author {
  font-weight: bold;
  text-align: right;
}

.profile-testimonial {
  width: 100%;
}

.container-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rating {
  display: flex;
}

.rating-btn {
  margin: 20px;
  padding: 5px 20px;
  font-size: 15px;
  font-weight: bold;
  background-color: orangered;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.rating-btn:hover {
  background-color: rgb(165, 51, 9);
  color: rgb(216, 214, 214);
}

.rating-btn i {
  color: white;
}

#barsmenu {
  display: none;
}

.hamburger-nav-container {
  font-size: 23px;
  list-style-type: none;
  display: none;
}

.hamburger-nav-container a {
  text-decoration: none;
  color: #fff;
  background-color: #9a9a9a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #fff;
}

.hamburger-nav-container .hamburger-active {
  text-decoration: none;
  color: #fff;
  background-color: orangered;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #fff;
}
/* TESTI END*/

/* RESPONSIVE LAYOUT____________________________________________________________ */

@media screen and (max-width: 550px) {
  nav {
    padding: 8px 20px;
  }

  nav .left ul li {
    display: none;
  }

  nav .right {
    display: none;
  }

  nav .hamburger {
    display: block;
  }

  /* TESTI  */

  .container h1 {
    font-size: 25px;
    margin-top: 0px;
  }

  .container h2 {
    font-size: 20px;
  }

  .testimonial {
    width: 100%;
  }

  .item-collapse {
    display: none;
  }

  #barsmenu {
    display: block;
  }

  .rating-btn {
    margin: 12px;
    padding: 5px 10px;
    font-size: 10px;
    font-weight: bold;
    background-color: orangered;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
  }
}
